.me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 50px;
}

.element-me {
  text-align: center;
  width: 100px;
}

/* Specific Positions for Elements */
.element-me-1 {
  align-self: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

.element-me-2 {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  background: linear-gradient(var(--color-primary), #666A73, #353540, transparent);
  border-radius: 12rem 12rem 0rem 0rem;
  height: 30rem;
  width: 22rem;
}

.element-me-3 {
  align-self: flex-end;
  position: absolute;
  right: 0;
  width: 300px;
}
