/*--------------- ANIMATION ------------------*/
.container__animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: var(--color-bg);
}

.pen{
    width: auto;
    /*---------row class from bootstrap--------*/
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    /*------------end boostrap css ----------*/
}

#svg1,
#svg2 {
    width: 100%;
    height: auto;
}

.cls-1 {
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

.container__greetings {
    width: 300px;
    padding: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* left: calc(50% - 150px);
    text-align: center; */
}

#role,
#name{
    position: absolute;
    padding: 0;
}

.pen1,
.pen2 {
    padding: 0px;
    width: 150px;
    height: 50px;
}

/* Media querys (Medium devices) */
@media screen and (max-width: 1024px) {
    .pen1,
    .pen2{
        width: 110px;
    }
}

/* Media querys (Small devices) */
@media screen and (max-width: 600px) {

    .pen1,
    .pen2 {
        width: 84px;
    }

}