header {

    /*viewport height*/
    height: 888px;
    /* overflow: hidden; */

}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;

}



/*------------- CV -----------*/
.cv {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-top: 2.5rem;
    padding-top: 8rem;

}



/*------------- Header Socials -----------*/
.header__socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: calc(100% - 112rem);
    padding-right: calc(100% - 20rem);
    /* --100 -112 */

}

.header__socials::after {
    background: var(--color-primary);
    content: "";
    height: 2rem;
    width: 1px;

}

/* Media querys (Medium devices) */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;

    }


}


/* Media querys (Small devices) */
@media screen and (max-width: 600px) {

    .header__socials{
        display: none;

    }

    .me {
        width: 75%;
        height: auto;
        margin-left: calc(13%);

    }


}